*{
    margin: 0px;
    text-align: start;
}
.card{
    min-height: 147px;
    box-sizing: border-box;
    padding: 20px 26px 20px 32px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 147px;
}
.price{
    text-align: start;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #2196F3;
}
.info{
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}
.placeholder{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #A0B0B9;
}
.text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #4A4A4A;
    text-align: start;
}
@media (max-width: 425px) {
    .info{
        display: block;
    }
    .card{
        height: auto;
    }
    .placeholder{
        margin-top: 14px;
    }
}
    